{% extends 'base.html.twig' %}

{% block title %}Author index{% endblock %}

{% block body %}
    <h1>Author index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.fullname }}</td>
                <td>{{ author.email }}</td>
                <td>
                    <a href="{{ path('app_author_show', {'id': author.id}) }}">show</a>
                    <a href="{{ path('app_author_edit', {'id': author.id}) }}">edit</a>
                    <a class="btn btn-secondary" href="{{ path('dh_auditor_show_entity_history', {'entity': 'App-Entity-Author', 'id': author.id}) }}">audits</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_author_new') }}">Create new</a>
    <a class="btn btn-secondary" href="{{ path('dh_auditor_show_entity_history', {'entity': 'App-Entity-Author'}) }}">Author audits</a>
{% endblock %}
